$color1: rgba(255, 255, 255, 0.856);
$color2: rgb(94, 6, 94);
* {
  margin: 0;
}
html {
  background-image: url('./img/background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  margin-top: -25px;
  padding-bottom: 1px;
  background-color: $color1;
}
.App {
  text-align: center;
  margin: 25px;
  height: 100vh;
}
input,
label {
  font-size: 14px;
}
label {
  color: white;
  font-weight: bold;
  display: flex;
}
//  Header Styling
.header {
  display: flex;
  color: black;
  background-color: $color2;
  width: 100%;
  height: 105px;

  h1 {
    width: 200px;
    color: black;
    align-self: center;
  }
}

// Chart Styling
.data-vis-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.recharts-surface {
  overflow: visible;
  width: 400px;
}
.recharts-layer {
  font-weight: bold;
}

// Number Of Events and City Search styling
.list-modifier-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: flex-end;
}
#set-events-length {
  width: 150px;
  height: 20px;
}
#city-search {
  height: 20px;
  width: 150px;
  position: relative;
}
.NumberOfEvents,
.citySearch {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    color: black;
  }
}
.suggestions {
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 43px;
  left: 2px;
  width: 150px;
  background-color: white;
  color: black;
  border-radius: 0 0 2px 2px;
}
.suggestions:hover {
  cursor: pointer;
}

// Events List Styling
.event-list {
  list-style: none;
}
.event-container {
  border-radius: 3px;
  justify-content: center;
  margin: 10px;
}
.event {
  display: flex;
  flex-direction: column;
  // position: relative;
  justify-content: space-between;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  border-radius: 3px;

  h3 {
    font-size: 18px;
    padding-bottom: 3px;
  }
}
.short {
  height: 116px;
}
.show-details {
  display: flex;

  margin: 0 auto 0;
  font-size: 11px;
  padding: 5px;
  font-weight: bold;
}
.event-details {
  margin-top: 10px;
}

//

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 850px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
}

@media screen and (min-width: 700px) {
  .event-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .event-list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .event-container {
    width: 45%;
    display: flex;
    justify-content: center;
  }
  .event {
    width: 100%;
  }
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/
